<html lang="en" th:replace="student/studentbase::layout(~{::section})">

<head>

</head>

<body>
	<section>
		<div class="row ">
			<div class="col-sm-9 mx-auto">
				<div class="card  shadow w-100 text-center">
					<h1 style="color: orangered; font-family: monotype corsiva; font-style: italic; font-size:60px">Congrutulations !!!
					</h1> 
					<p> your test has been submitted successfully</p><br> Result will be declayerd soon.....
					<br><br><br>
					<a href="stdhome" class="btn w-25 rounded-pill text-white" style="background-color: orangered;"> Go to Gome Page</a>
				</div>
			</div>
		</div>
	</section>
</body>

</html>