<!doctype html>
<html  th:replace="~{base::layout(~{::section})}">
  <head>
    
 </head>
  <body>
    
	   <section>
	    <div class="container-fliud">
	        <div class="row mt-3  ">
	     <div class="col-sm-12 ps-5 ">
	     
	     </div>
	        </div>
			`

	         <!-- header start -->
	        
	        <div class="row">
	            <div class="col-sm-12 text-center ">
	                
	                <img src="images/logo2.jpeg" alt="logo" height="200px" class="text-center" >
	            </div>
	            <h1 class="text-center">Free Summer <span style="color:rgb(241, 140, 16)">Internship 2024</span></h1>
	            <h4 class="text-center"><span style="color:rgb(241, 140, 16)">ORGANIZED BY DR. A. P. J. ABDUL KALAM TECHNICAL UNIVERSITY, LUCKNOW</span></h4s>
	                <h5 class="text-center">(IN ASSOCIATION WITH SOFTPRO INDIA COMPUTER TECHNOLOGIES (P) LTD)</h5>
	        </div>
	        <!-- header end -->
	         
	         <!-- slider start -->
	          <div class="row">
	            <img src="images/yas.jpg">
	          </div>
	         <!-- slider end -->
			 

	          
			  <div class="row border p-2 mt-1" style="background-color: #ef662f;">
			      <div class="col-sm-7 my-auto text-end pt-4 w100ab">
			          <p style="font-size: 23px; font-weight: 700;" class="w100ab">Apply For Free Summer Internship Test - 2024</p>
			      </div>
			      <div class="col-sm-5 my-auto w100">
			          <a href="#"><button class="btn fw-bold btnaply" style="background-color:white; color: black; height:50px; border-radius: 0px; font-size:17px;">
			              Apply Now &nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i>
			          </button></a>
			      </div>
			  </div>
			   
			  <!--Detail start-->
			    <div class="col-sm-10 mt-4 mb-4 mx-auto">
			      <div class="row " >
			      <div class="title-head centerd">
			      <h2 style="color: #EF662F; font-weight: 600;" class="text-center"> Free Summer Internship
			      </h2>
			      <h5><span  style="color: #EF662F; font-weight: 700;"> Program Details</span></h5>
			      <p style="text-align: justify;">
			        As we strive to enhance the professional development opportunities for the students of AKTU, Softpro India is offering Free Summer Internship Program in collaboration with Dr A P J Abdul Kalam Technical University under the MoU services signed with Softpro India & AKTU, specifically tailored for the Ist, IInd & IIIrd year students pursuing B.Tech in Computer Science, Information Technology and CS Allied Branches, Mechanical, Civil, Electrical, Electronics. This program aims to provide students with valuable industry exposure, hands-on experience in the latest technologies, and an avenue for practical application of theoretical knowledge.

			      </p>
			      <h5><span style="color: #EF662F; font-weight: 700;">Importance of Summer Internship</span></h5>
			      <p style="text-align: justify; font-size: 17px; color: black;"> <b>1. Bridging the Gap between Academia and Industry :</b>
			        Summer Internships provide students with an invaluable opportunity to bridge the gap between theoretical knowledge acquired in classrooms and practical application in real-world scenarios. By working on live projects and interacting with industry professionals, students gain insights into industry practices, trends, and challenges, thus preparing them for the transition from academia to the professional realm.

			      </p>
			      <p style="text-align: justify; font-size: 17px; color: black;"> <b> 2. Skill Enhancement and Professional Development:</b> Engaging in summer internship programs allows students to enhance their technical skills, communication abilities, teamwork, and problem solving capabilities. Exposure to cutting-edge technologies and hands-on experience in project execution equips students with the competencies required to thrive in today's dynamic and competitive job market.
			      </p>
			      <p style="text-align: justify; font-size: 17px; color: black;"><b> 3. Networking and Career Opportunities: </b>Summer internships offer students a platform to network with professionals, build meaningful connections, and explore potential career opportunities. Building a strong professional network early in their academic journey can significantly enhance students' prospects for securing employment post-graduation.
			      </p>
			    </div>
			  </div>
			  </div>
			  <!--Detail end-->
			   <!--participate start-->
			   <div class="row">
			     <div class="col-sm-10 px-5 mx-auto ">
			       <div class=" row mb-5>">
			         <h2 style="color: #EF662F; font-weight: 700;" class="text-center">Who can Participate?</h2>
			       </div>
			       <div class="row mt-5" >
			         <div class="col-sm-3 P-3">
			           <div class="card h-75" >
			             <img src="images/me.jpg" class="card-img-top" alt="..." height="400">
			             <div class="card-body">
			               <h5 class="card-text text-bold text-center" style="color: #EF662F;font-weight: 700; font-size: 25px;">Machenical Enginnering
			               </h5>
			               <hr>
			       <h5 style="margin-bottom:0px; font-size:15px;" class="fw-bold text-center">
			          <b>B-Tech 1,2,3 Year:</b>
			           </h5>
			           <p style="font-size:17px;" class="mt-1 text-center">
			            Mechanical students can register here.
			            </p>
			             </div>
			           </div>
			         </div>
			         <div class="col-sm-3 P-3">
			           <div class="card h-75">
			             <img src="images/cs.jpg" class="card-img-top" alt="..." height="300">
			             <div class="card-body">
			               <h5 class="card-text text-center" style="color: #EF662F;font-size: 25px; font-weight: 700;">CS-AI & ML</h5>
			               <hr>
			               <h5 style="font-size: 15px;" class=" fw-bold text-center">
			               <b> B-Tech 1,2,3 Year:</b></h5>
			               <p style="font-size: 17px;" class="mt-1 text-center">AI and Machenical student can register here </p>
			             </div>
			           </div> 
			         </div>
			         <div class="col-sm-3 P-3">
			           <div class="card h-75">
			             <img src="images/it.jpg" class="card-img-top" alt="..." height="300">
			             <div class="card-body">
			               <h5 class="card-text text-center" style="color: #EF662F;font-size: 25px; font-weight: 700;"> Computer Science &IT</h5>
			               <hr>
			               <h5 style="font-size: 15px;" class=" fw-bold text-center">

			               <b> B-Tech 1,2,3 Year:</b></h5>
			               <p style="font-size: 17px;" class="mt-1 text-center">Computer Science and IT student can register here </p>
			             </div>
			           </div>
			         </div>
			         <div class="col-sm-3">
			           <div class="card h-75">
			             <img src="images/ds.png" class="card-img-top" alt="..." height="300">
			             <div class="card-body">
			               <h5 class="card-text text-center" style="color: #EF662F;font-size: 25px; font-weight: 700;">CS-DS</h5>
			               <hr>
			               <h5 style="font-size: 15px;" class=" fw-bold text-center">

			               <b> B-Tech 1,2,3 Year:</b></h5>
			               <p style="font-size: 17px;" class="mt-1 text-center"> CS-DS student can register here </p>
			             </div>
			           </div>
			         </div>
			       </div>
			     </div>
			   </div>
			   <!--participate end-->
			   
			   
			   <!--section start-->
			   <div class="div">
			         <div class="col-sm-10 mx-auto ">
			           <div class="row p-4 m-4">
			         <div class="col-sm-6 p-5" style="background-image:url(images/.jpg);">
			             <h3 style="margin-bottom:-10px;  color:orangered" class="fw-bold">
			                 Internship Test Highlights
			             </h3>
			             <hr />
			             <p style="font-size:20px; text-align:left">
			                 <img src="images/watch.png"
			                      height="50px" />&nbsp;&nbsp;<b style="font-weight:900;">Duration:</b> 60 Minutes
			             </p>
			             <p style="font-size:20px; text-align:left">
			                 <img src="images/btech.png"
			                      height="50px" />&nbsp;&nbsp;<b>Eligibility:</b> B-Tech Students
			             </p>
			             <p style="font-size:20px; text-align:left">
			                 <img src="images/medium.png"
			                      height="50px" />&nbsp;&nbsp;<b>Medium:</b> English
			             </p>
			             <p style="font-size:20px; text-align:left">
			                 <img src="images/mode.png"
			                      height="50px" />&nbsp;&nbsp;<b>Mode:</b> Online
			             </p>
			             <p style="font-size:20px; text-align:left">
			                 <img src="images/ques.png"
			                      height="50px" />&nbsp;&nbsp;<b>Question Type:</b> MCQ
			             </p>
			         </div>
			         <div class="col-sm-6">
			             <img src="images/iit.jpg" height="500px" style="margin-left: 100px;" class="pw" />
			         </div>
			         </div>
			       </div>
			     </div>


			   <!--Sectionn End-->
			   
			   <!--our interfeature start-->
			   <div class="col-sm-10 mx-auto">
			   <div class="row mt-5 mb-5 w100 wp1">
			     <div class="col-sm-6 text-center">
			       <img src="images/intern.png" height="500px"  />

			     </div>
			     <div class="col-sm-6 mt-4">
			       <h2 style= "font-weight: 700; color:#ef662f" >
			         Our Internship Features</h5>
			         <hr>
			         <ol>
			             <li>Technology Lectures by Softpro Experts having minimum 10 Year of Experience.</li>
			             <li>
			                 Bonus Lectures by Experts from Industry like Google, IBM, Indiabulls, HCL, TCS, LMRC,
			                 Ansal, DLF, Pepsi Co, Oracle, Paypal, Mitsubishi, Amazon, Apple and more.
			             </li>
			             <li>
			                 30 Days Live Instructor Led Classroom / online Sessions daily, with 15 Days Extra
			                 grace time to access the account for recovery & practice.
			             </li>
			             <li>
			                 E-Notes in form of E-Books, Presentations, Videos designed by Industry Experts with
			                 Self-Assessment Tools and daily evaluation.
			                 Class Recordings of each Live Class.
			             </li>
			             <li> Daily Tasks & Assignments for more practice.</li>
			             <li>Industry Endorsed Project to be developed by all Interns.</li>
			             <li>
			                 Assistance in Placement & Certificate of Internship by “Softpro India Computer
			                 Technologies (P) Limited”
			             </li>
			         </ol>
			         <p>
			         </p>
			     </div>
			   </div>
			   </div>

			   <!--our interfeature end-->
			   
			   <!--intership seasion start-->
			   <div class="div">
			     <div class="row">
			       <div class="col-sm-10 p-5 mb-4 mx-auto" style="margin-left: 110px; text-align: justify;">
			         <h5><span class="fw-bold" style="color: #ef662f;">Internship Session </span> </h5>
			           <hr>
			           <h6 class="fw-bold">a.) Online / Offline Sessions:</h6>
			           <p style="text-align:justify;font-size:17px; color: black; ">
			               The internship will commence with intensive training sessions covering
			               a wide array of topics including but not limited to:
			               i. Programming languages such as Java, Python, PHP, C# etc.
			               ii. Web development frameworks like Django, Spring, Laravel, AngularJS, React, etc.
			               iii. Database management systems and data analytics tools.
			               iv. Emerging technologies such as Artificial Intelligence, Machine Learning, Internet of Things,
			               etc.
			               v. Technologies like IoT, PLC SCADA, Embedded System, AutoCAD, Solidwork & STAAD.PRO
			           </p>
			           <h6 class="fw-bold">b.) Project Work: </h6>
			           <p style="text-align:justify;font-size:17px; color: black;">
			               Following the training period, interns will be assigned to real-world projects under
			               the guidance and mentorship of experienced professionals from Softpro India. This hands-on
			               experience
			               will enable students to apply theoretical concepts in practical scenarios, thereby honing their
			               problem
			               solving skills and enhancing their technical proficiency.
			           </p>
			           <h6 class="fw-bold">c.) Evaluation and Certification: </h6>
			           <p style="text-align:justify;font-size:17px; color: black;">
			               At the conclusion of the internship, students will undergo an
			               assessment to evaluate their performance and proficiency gained during the program. Upon
			               successful
			               completion, participants will receive certificates acknowledging their accomplishments during
			               the
			               internship.
			           </p>
			           <h6 class="fw-bold">d.) Placement Opportunity:</h6>
			           <p style="text-align:justify;font-size:17px; color: black;">
			               Students who will do Internship from Softpro will also be offered
			               Placement Opportunity in their final year.
			               The Free Summer Internship Program by Softpro India presents a unique opportunity for your
			               students
			               to augment their academic learning with practical industry experience, thereby enhancing their
			               employability and fostering their professional growth. We believe that this collaboration will
			               be
			               mutually beneficial for your esteemed institutions and Softpro India, and will pave the way for
			               future
			               partnerships aimed at nurturing talent and driving innovation in the field of technology.
			               We earnestly request your support and cooperation in facilitating the implementation of this
			               Free
			               Internship program.
			           </p>

			       </div>
			     </div>
			   </div>
			   
			   
			   <!--technologis offerd start-->


			     <div class="col-sm-10 mx-auto">
			       <h1 style="color: #EF662F; font-weight: 800; font-size:30px;" class="text-center"> Technologies Offered
			       </h1>
			       <hr>
			       </div>
			       <div class="col-sm-10 mx-auto">
			         <p > The internship will begin with thorough training sessions covering essential topics relevant to the role. Participants will gain a comprehensive understanding of technical skills, industry practices, and soft skills. Interactive workshops and practical exercises will prepare them to excel in their roles and contribute effectively to the organization.

			         </p>
			         </div>
			         <div class="col-sm-10 mx-auto ">
			           <div class="row mt-4">
			           <div class="col-sm-4">
			             <div class="card ">
			             <img src="images/off1.png" class="w-100" />

			           </div>
			           </div>
			           <div class="col-sm-4"> 
			                  <div class="card">


			             <img src="images/off2.png"  class="w-100" />
			           </div>
			           </div>
			           <div class="col-sm-4">
			             <div class="card">

			             <img src="images/off3.png"  class="w-100" />

			           </div>
			       </div>
			   </div>
			   </div>
			   <div class="col-sm-10 mx-auto ">
			     <div class="row mt-4">
			     <div class="col-sm-4">
			       <div class="card h-100">
			       <img src="images/off4.png" class="w-100" />

			     </div>
			     </div>
			     <div class="col-sm-4"> 
			            <div class="card h-75">


			       <img src="images/off5.png"  class="w-100" />
			     </div>
			     </div>
			     <div class="col-sm-4">
			       <div class="card h-75">

			       <img src="images/off6.png"  class="w-100" />

			     </div>
			   </div>
			   </div>
			   </div>

			   <div class="col-sm-10 mx-auto ">
			     <div class="row mt-4">
			     <div class="col-sm-4">
			       <div class="card h-100">
			       <img src="images/off7.png" class="w-100" />

			     </div>
			     </div>
			     <div class="col-sm-4"> 
			            <div class="card h-75">


			       <img src="images/off8.png"  class="w-100" />
			     </div>
			     </div>
			     <div class="col-sm-4">
			       <div class="card h-75">

			       <img src="images/9.png"  class="w-100" />

			     </div>
			   </div>
			   </div>
			   </div>

			   <div class="col-sm-10 mx-auto ">
			     <div class="row mt-4">
			     <div class="col-sm-4">
			       <div class="card h-100">
			       <img src="images/10.png" class="w-100" />

			     </div>
			     </div>
			     <div class="col-sm-4"> 
			            <div class="card h-75">


			       <img src="images/11.png"  class="w-100" />
			     </div>
			     </div>
			     <div class="col-sm-4">
			       <div class="card h-75">

			       <img src="images/12.png"  class="w-100" />

			     </div>
			   </div>
			   </div>
			   </div>
			   <!--technologois ooferd end-->
			   
			   <!--Tranning Location start-->
			   <div class="container-fluid">
			   <div class="row">
			     <div class="col-sm-10 mx-auto mt-4">
			       <h1 style="color: #EF662F; font-weight: 800; font-size:30px;" class="text-center" > Training location
			       </h1>
			       <hr>
			       <div class="row">
			         <div class="col-sm-10">
			           <div class="row">
			           <div class="col-sm-8">
			             <h4 class="my-auto p-2 text-center fw-bold  fw-bold" style="color:black; background-color: #EF662F;">Lucknow Locations</h3>

			           </div>
			           <div class="col-sm-4">
			             <h4 class="my-auto p-2 text-center fw-bold  fw-bold" style="color:black; background-color: #EF662F;">Noida Location</h3>

			           </div>
			         </div>
			       </div>
			     </div>
			   </div>
			   </div>
			   </div>
			     <div class="col-sm-10 mx-auto mx-auto">
			       <div class="row mt-4">
			       <div class="col-sm-4">
			         <div class="card h-100">

			         <img src="images/location1.jpg" height="200px" class="card-img-top p-2" />
			         <h5 class="card-text text-center" style="color: #EF662F;font-size: 25px; font-weight: 700;">Softpro House</h5>
			   <hr>
			   <p style="text-align: justify;" class="text-center"> 3/213, Sector J, Jankipuram, Kursi Rd
			     Near Gudamba Thana, Lucknow
			     
			     </p>
			       </div>
			       </div>
			       <div class="col-sm-4">
			         <div class="card h-100">

			        <img src="images/location2.jpg" height="200px" class="card-img-top p-2"/>
			        <h5 class="card-text text-center" style="color: #EF662F;font-size: 25px; font-weight: 700;">Softpro India Full Stack Academy</h5>
			        <hr>
			        <p style="text-align: justify;" class="text-center"> Pushpi Tower ,Chinhat Tiraha, Vijayant Khand
			          Gomti Nagar, Lucknow
			           </p>
			       </div>
			     </div>
			       <div class="col-sm-4">
			         <div class="card h-100">

			         <img src="images/location3.jpg" height="200px" class="card-img-top p-2" />
			         <h5 class="card-text text-center" style="color: #EF662F;font-size: 25px; font-weight: 700;">Softpro Skill Development Center</h5>
			   <hr>
			   <p style="text-align: justify;" class="text-center"> I.T.S Campus, Knowledge Park III, Pari Chowk, Greater NOIDA

			     </p>
			       </div>
			     </div>
			     </div>
			     </div>
			   <!--Tranning Location end-->
			   
			   <!--Training mode start-->
			   <div class="row">
			     <div class="col-sm-10 mt-4 mx-auto">
			       <h1 style="color: #EF662F; font-weight: 800; font-size:30px;" class="text-center">Online Training Mode
			       </h1>
			       <div class="col-sm-12">
			         <h3 class="text-center"><b>POLYPREP,</b>A Learning Management System By Softpro India
			         </h3>
			       </div>
			       </div>
			       <div class="col-sm-10 mt-4 shadow-lg mx-auto">
			         <div class="row">
			         <div class="col-sm-6 text-center">
			             <div class="card">
			        <img src="images/online.png"  class="" height="400px"/>
			      </div>
			         </div>
			         <div class="col-sm-6 mx-auto  p-4" style="margin-left:-auto; background-color:darkorange; margin-top: auto; margin-bottom: auto; margin-right: auto;">
			           <h4 class="fw-bold">
			             Online Training Division of Softpro LMS Polyprep
			         </h4>
			         <p>Enroll, Learn, Grow !!!   Get ready to achieve your learning goals with Softpro by doing Online Summer Internship at Polyprep, An LMS by Softpro.</p>
			         </div>
			       </div>
			     </div>
			   <!--Training mode End-->
			   
			   
	    </div>
		</section>
	  </body>
	</html>