<html  th:replace="~{base::layout(~{::section})}">
  <head>
    </head>
  <body>
  <section>
	
		<div class="row">
			 <h1 class="text-center" style="color: blue;"> Student login Form</h1>
			 <form class="form-group" th:object="${dto}" method ="post">
			<table class="table table-bordered" style="margin:auto; width: 60%;">
				<tr>
				 <td>ENTER YOUR E-MAIL ADDRESS<td>
												
					<input type="text" required class="form-control" placeholder="someone@gmail.com" th:field="${dto.emailaddress}"/>
												
					</tr>
				<tr>
				<tr>
					<td>ENTER PASSWORD</td>
					<td>
						<input type="password" th:field="${dto.password} " placeholder="password" class="form-control" required/>
					</td>
				</tr>
				<tr>
					<td>
						<div th:if="${msg}">
							<p th:text="${msg}" style="color:red;"></p>
						</div>
					</td>
					<td>
						<button type="submit" class="btn btn-primary">login</button>
					</td>
					
				</tr>
				
				
			</table>
				
				
			
			</form>
			
			 </div>
			 </section>
			 </body>
			 </html>
